/* Global styles */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: "liga", "kern";
}

/* Fix jumping scrollbar when switching to long pages */


html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

/* margin top */

.mt-xl {
    margin-top: 60px;
}

/* link */

a {
    text-decoration: underline;
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* horizontal rule */

hr {
    border: 0;
    border-top: 1px solid #DCDCDC;
}

.content .markdown hr {
    margin-left: 1.52rem;
    margin-right: 1.52rem;
}

/* Partial: Header */

img[src$='#floatleft'] {
    float: left;
}

img[src$='#floatright'] {
    float: right;
}

.header a {
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header h1.name {
    font-weight: 600;
    font-size: 2.1875rem;
    color: #333333;
}

.header ul.nav li {
    font-size: 1rem;
}

.header ul.nav {
    margin-bottom: 5rem;
}

/* Partial: Content */

.content h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.content .meta {
    font-weight: 400;
    font-size: 1rem;
    color: #738491;
    margin-bottom: 10px;
}

.content .meta a {
    text-decoration: none;
}

.content .middot:before {
    margin: 0 3px;
    content: "·";
}

.content .caption {
    text-align: center;
    margin-top: 10px;
    color: #586069;
    font-size: 0.9rem;
}

.content .markdown {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}


.content twitterwidget {
    margin: auto;
}

.content .meta,
.content .markdown h1,
.content .markdown h2,
.content .markdown h3,
.content .markdown h4,
.content .markdown h5,
.content .markdown h6,
.content .markdown p,
.content .markdown ul,
.content .markdown ol,
.content .markdown dl,
.content .markdown blockquote,
div.alert,
form,
table,
.gist-file {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* blog post typography */

.content .blog-post-title {
    font-size: 2rem;
    padding-left: auto;
    padding-right: auto;
    line-height: 2.625rem;
}

.content .blog-post-content {
    font-size: 1.0625rem;
    line-height: 2rem;
}

/* centered, boxed blog post images */
.centered {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.content .figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    max-width: 100%;
}

.content .figure img:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */

}

table {
    text-indent: 0;
    margin-bottom: 1.75em;

    margin-left: auto;
    margin-right: auto;

    border-collapse: separate;
    border-spacing: 0px;
    border-style: solid !important;
    border-color: #ddd !important;
    border-radius: 6px;
    border: 1px;

    width: 92%;
}

.disable-scroll {
    height: 100%;
    overflow-y: hidden;
}

.overflow-table {
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    align-items: center;
    display: flex;
}

thead {
    text-align: center;
    border-bottom: 1px;
    border-bottom-color: #ddd;
    padding-right: auto;
    padding-left: auto;
}

th,
td {
    text-align: center;
    white-space: nowrap;
    width: auto;
    border: none;
}


th:first-child,
td:first-child {
    padding-left: 0.75em;
}

th:last-child,
td:last-child {
    padding-right: 0.75em;
}

/* Add Animation */
.modal-content {

    margin: auto;
    display: block;
    width: 100%;
    opacity: 1 !important;
    max-width: 80%;
    max-height: 98%;

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;

    position: relative;

}

@-webkit-keyframes zoom {
    from {
        -webkit-atransform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/**/

.content .markdown code,
.content .markdown pre {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    background-color: #fff;
}

.content .markdown code {
    /* enclosed by single backtick (`) */
    color: #333;
    padding: .2em .4em;
    margin: 0;
    font-size: 1rem;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 6px;
}

.content .markdown pre {
    /* Hugo specific: consider using the 'highlight' shortcode */
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    line-height: 20px;
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.content .markdown pre code,
.content .markdown pre output {
    /* enclosed by 4 backticks (````) */
    padding: 0;
    font-size: 0.75rem;
    line-height: 20px;
    background-color: #fff;
    border-radius: 0;
}

.content .markdown blockquote {
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #7a7a7a;
    border-left: 0.25rem solid #e5e5e5;
}

.content .markdown blockquote p:last-child {
    margin-bottom: 0;
}

.content .markdown figure {
    background: #fff;
}

.content .post-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    margin-bottom: 1rem;
}

.content .meta-title {
    font-size: 1.5625rem;
    margin-bottom: 0.5rem;
}

.content .meta-title {
    font-size: 1.5625rem;
    font-weight: 600;
}

.content .meta-title a {
    text-decoration: none;
}

.content .meta-title a:hover {
    text-decoration: underline;
}

.content .meta-date {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.content .navigation .icon {
    width: 16px;
    height: 16px;
}

/* < medium screens */



@media (max-width: 767.98px) {
    html {
        font-size: 0.9rem;
    }

    .content .meta,
    .content .markdown h1,
    .content .markdown h2,
    .content .markdown h3,
    .content .markdown h4,
    .content .markdown h5,
    .content .markdown h6,
    .content .markdown p,
    .content .markdown ul,
    .content .markdown ol,
    .content .markdown dl,
    .content .markdown blockquote,
    div.alert,
    form,
    table,
    .gist-file {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 479px) {
    #switcher {
        display: none;
    }
}

:root {
    --background-color: #fff;
    --text-color: #333333;

    --title-color: #333333;

    --highlight-color-link: #333333;
    --highligt-color-low: #333333;

    --main-title-color: #333333;

    --code-text-color: #333333;
    --code-background-color: #1b1f230d;

    --table-alternate-color: #eee;

    --quote-border-color: #dddddd;

    --date-color: #738491;
    
    --blockquote-text-color: #7a7a7a;
    --blockquote-highlight-color: #e5e5e5;
}

[data-theme="dark"] {
    --background-color: #1d1f21;
    --text-color: #c9cacc;

    --title-color: #FFF;

    --highlight-color-link: #FEE779;
    
    --highligt-color-low: #FFF;

    --main-title-color: #FFF;

    --code-text-color: #c9cacc;
    --code-background-color: #aebccb0d;

    --table-alternate-color: #16161687;

    --quote-border-color: #333;

    --date-color: #666;

    --blockquote-text-color: #7a7a7a;
    --blockquote-highlight-color: #7a7a7a;

    --list-marker-color: #FEE779;
}

.content .markdown {
    color: var(--text-color);
}

li::marker {
    color: var(--list-marker-color);
}

.content h1 {
    color: var(--text-color);
}

.content h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}


a:hover,
a:focus {
    color: var(--highligt-color-low) !important;
    text-decoration-color: var(--highlight-color-link) !important;
}

a {
    color: var(--code-text-color);
}

body {
    background-color: var(--background-color);
}

.content .markdown code {
    color: var(--code-text-color);
    background-color: var(--code-background-color);
}

.header h1.name {
    color: var(--code-text-color);
}

.nav-item a {
    color: var(--text-color);
}

.nav-item a:hover {
    text-decoration: underline !important;
    text-decoration-color: var(--highlight-color-link) !important;
}

.header a:hover {
    text-decoration: none;
}

tbody tr:nth-of-type(odd) {
    background-color: var(--table-alternate-color);
}

.content .meta-date {
    color: var(--date-color);
}

.content .markdown blockquote {
    color: var(--blockquote-text-color);
    border-left: 0.25rem solid var(--blockquote-highlight-color);
}

.content .markdown pre code,
.content .markdown pre output {
    background-color: var(--background-color);
}


.content .markdown pre {
    background-color: var(--background-color) !important;
    border-color: var(--quote-border-color);
}
